{% extends "base.html" %}
{% block title %} Create post {% endblock %}
{% block content %}

    <form action="" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3">
            {{form.title.label}}
            {{form.title(class="form-control")}}
            {{form.content.label}}
            {{form.content(class="form-control")}}
            {{form.submit(class="btn btn-outline-primary mt-4")}}
        </div>
    </form>
  
{% endblock %}
